<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.kaituo.ishield.dao.HotSpotShowMapper">
	<resultMap id="rm_HotSpotShow" type="cn.com.kaituo.ishield.model.HotSpotShow">
		<!-- 基础字段 -->
		<id property="oid" column="ID" />
		<!-- 业务字段 -->
		<result property="HOTSPOTMAC" column="HOTSPOTMAC" />
		<result property="HOTSPOTSSID" column="HOTSPOTSSID" />
		<result property="ACQUISITIONTIME" column="ACQUISITIONTIME" />

		<result property="FIELDSTRENGTH" column="FIELDSTRENGTH" />
		<result property="PLACECODE" column="PLACECODE" />
		<result property="EQUIPMENTCODE" column="EQUIPMENTCODE" />

	</resultMap>

	<select id="select" resultMap="rm_HotSpotShow">
		select
		HOTSPOTMAC,
		HOTSPOTSSID,
		ACQUISITIONTIME,
		FIELDSTRENGTH,
		PLACECODE,
		EQUIPMENTCODE
		FROM
		HOTSPOTINFO
		WHERE
		ID=#{oid}
	</select>
	<select id="selectBy" resultMap="rm_HotSpotShow">
		select
		HOTSPOTMAC,
		HOTSPOTSSID,
		ACQUISITIONTIME
		FROM
		HOTSPOTINFO
		order
		by
		ACQUISITIONTIME
		desc
	</select>


</mapper>
         